:root {
    --input-border: orange;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

//* ___      __   __   __   __        __
//*  |  \ / |__) /  \ / _` |__)  /\  |__) |__| \ /
//*  |   |  |    \__/ \__> |  \ /~~\ |    |  |  |

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
